@page
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@model WebPageScrapedResultsModel
@{
   Layout = null;
}
<!turbo-frame id="scraper_web_page_scraped_results_@(Model.ScraperWebPageScrapedResults.ScraperWebPageId)">
    <div class="mb-3" 
         @Stimulus.Controller(
             StimulusControllers.ScrapersDetailWebPageScrapedResults, 
             new WebPageScrapedResultsStimulusModel($"{Model.ScraperWebPageScrapedResults.ScrapedOn:o}")
         )
         >
        <div class="d-flex justify-content-between">
            <label class="form-label fw-bold">@Resource.ScrapedResults</label>
            <form asp-page-handler="ScrapeScraperWebPage"
                  asp-route-scraperId="@Model.ScraperId"
                  asp-route-scraperWebPageId="@Model.ScraperWebPageId"
                  style="display: inline"
                  data-scrapers--detail-web-page-scraped-results-target="scrapeWebPageForm"
            >
                <button type="submit" 
                        class="btn btn-outline-primary"
                        >
                    @Resource.ScrapeWebPage
                </button>
            </form>
        </div>
        <div>
            @if (Model.ScraperWebPageScrapedResults.ScrapedResults.Any())
            {
                <div style="max-height:360px; overflow-y:auto;">
                    <ul translate="no">
                        @foreach (var scrapedResults in Model.ScraperWebPageScrapedResults.ScrapedResults)
                        {
                            <li>
                                @Html.Raw(scrapedResults)
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <span class="text-danger">
                    @if (Model.ScraperWebPageScrapedResults.ScrapingErrorMessage != null)
                    {
                        @Resource.Error@:: @Model.ScraperWebPageScrapedResults.ScrapingErrorMessage
                    }
                    else
                    {
                        @Resource.WebPageNotScrapedYet
                    }
                </span>
            }
        </div>
        @if (Model.ScraperWebPageScrapedResults.ScrapedOn != null)
        {
            <div class="mt-3">
                @Resource.ScrapedOn: <span data-scrapers--detail-web-page-scraped-results-target="scrapedOnInBrowserLocale"></span>
            </div>
        }
    </div>
</!turbo-frame>

