@page
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared;
@model WebPageModel
@{
   Layout = null;
}
<!turbo-frame id="scraper_web_page_@(Model.ScraperWebPageId)">
    <div class="card mb-3" @Stimulus.Controller(
                               StimulusControllers.ScrapersDetailWebPage, 
                               new WebPageStimulusModel(Resource.RemoveWebPageConfirmationMessage)
                           )
         >
        <div class="card-header d-flex justify-content-between align-items-center">
            <span data-scrapers--detail-web-page-target="webPageName" class="text-wrap text-break">
                @Model.ScraperWebPageName
            </span>
            <form asp-page-handler="RemoveScraperWebPage"
                  asp-route-scraperId="@Model.ScraperId"
                  asp-route-scraperWebPageId="@Model.ScraperWebPageId"
                  data-scrapers--detail-web-page-target="removeWebPageForm"
                  >
                <button type="submit" 
                        class="border-0 bg-transparent"
                        title="@Resource.DeleteWebPage"
                        >
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
        </div>
        <div class="card-body">
            <turbo-frame id="scraper_web_page_disabled_warning_@(Model.ScraperWebPageId)" 
                         src="@Url.Page("WebPageDisabledWarning", new
                              {
                                  scraperId = Model.ScraperId,
                                  scraperWebPageId = Model.ScraperWebPageId
                              })"
                         data-scrapers--detail-web-page-target="webPageDisabledWarning"
            />
            <div class="row">
                <div class="col-md-6 mb-3">
                    <turbo-frame id="scraper_web_page_overview_@(Model.ScraperWebPageId)" 
                                 src="@Url.Page("WebPageOverview", new
                                      {
                                          scraperId = Model.ScraperId,
                                          scraperWebPageId = Model.ScraperWebPageId
                                      })"
                                 data-scrapers--detail-web-page-target="webPageOverview"
                                 />
                </div>
                <div class="col-md-6">
                    <turbo-frame id="scraper_web_page_scraped_results_@Model.ScraperWebPageId"
                                 src="@Url.Page("WebPageScrapedResults", new
                                      {
                                          scraperId = Model.ScraperId,
                                          scraperWebPageId = Model.ScraperWebPageId
                                      })"
                                 data-scrapers--detail-web-page-target="webPageScrapedResults"
                                 />
                </div>
            </div>
        </div>
    </div>
</!turbo-frame>

