@page
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@model WebPageDisabledWarningModel
@{
   Layout = null;
}
<!turbo-frame id="scraper_web_page_disabled_warning_@(Model.ScraperWebPageId)">
    <div class="alert alert-warning text-center overflow-hidden"
        @Stimulus.Controller(StimulusControllers.ScrapersDetailWebPageDisabledWarning)
        style="display:@(Model.ScraperWebPageDisabledWarningDto.IsEnabled ? "none" : "")"
        >
        <i class="fa-solid fa-triangle-exclamation text-warning"></i> @Resource.TheWebPageHasBeenAutomaticallyDisabled
        <span style="display:@(Model.ScraperWebPageDisabledWarningDto.HasBeenScrapedSuccessfully ? "" : "none")">
            @Resource.PleaseEnableItOnceYourEditsAreComplete
            <form asp-page-handler="EnableScraperWebPage"
                  asp-route-scraperId="@Model.ScraperId"
                  asp-route-scraperWebPageId="@Model.ScraperWebPageId"
                  data-scrapers--detail-web-page-disabled-warning-target="enableScraperWebPageForm"
            >
                <button type="submit" class="btn btn-warning">
                    @Resource.EnableWebPage
                </button>
            </form>
        </span>
        <span style="display:@(Model.ScraperWebPageDisabledWarningDto.HasBeenScrapedSuccessfully ? "none" : "")">
            @Resource.ToEnableItMakeSureTheWebPageIsSuccessfullyScraped
        </span>
    </div>
</!turbo-frame>

