@page
@using CoreUtils.Extensions
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Features.Scrapers
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Infrastructure.Authorizations
@model PublicScrapersModel
@inject IStringLocalizer<Resource> Localizer
@{
    Layout = null;
}
<!turbo-frame id="publicScrapers">
    <h1 class="display-4">@Resource.PublicScrapers</h1>    
    <p class="text-muted">
        @Resource.PublicScrapersDescription
    </p>

    @foreach (var scraper in Model.PublicScrapers)
    {
        <div>
            <a asp-page="/Scrapers/ScrapingResults/ScrapingResults" 
               asp-route-scraperId="@scraper.ScraperId"
               data-turbo-frame="_top"
               class="text-wrap text-break"
               >
                @scraper.ScraperName</a>

            @if (scraper.UserId == User.GetUserId())
            {
                <span class="badge text-bg-primary"
                      title="@Resource.MyScraperTooltip">
                    @Resource.MyScraper
                </span>
            }
        </div>
    }
        
    @if (Model.PublicScrapers.IsEmpty())
    {
        <i class="fa-solid fa-triangle-exclamation text-warning"></i> 
        @Html.Raw(
            Localizer[
                Resource.ThereAreNoPublicScrapers, 
                $"<a href=\"{ScraperUrlConstants.ScraperCreateUrl}\" data-turbo-frame=\"_top\">{Resource.Here}</a>"
            ]
        )
    }
</!turbo-frame>