@page "{watchdogId}"
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Features.Shared.ReinforcedTypings
@using MrWatchdog.Web.Infrastructure.Authorizations
@model DetailModel

@{
    var title = Model.WatchdogDetailArgs.Name;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/Watchdogs/Manage/Manage">@Resource.ManageWatchdogs</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@title</li>
        </ol>
    </nav>
}

<div @Stimulus.Controller(
         StimulusControllers.WatchdogsDetail,
         new DetailStimulusModel(Model.WatchdogDetailArgs.WatchdogId)
     )>

    <div>
        <h1 class="display-4">@title</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group" role="group">
            @if (!User.IsSuperAdmin() 
                 && !Model.WatchdogDetailArgs.MakePublicRequested 
                 && !Model.WatchdogDetailArgs.Public)
            {
                <button
                    class="btn btn-outline-primary"
                    type="button"
                    >
                    Request to make public
                </button>
            }
            @if (User.IsSuperAdmin() 
                 && !Model.WatchdogDetailArgs.Public)
            {
                <button
                    class="btn btn-outline-primary"
                    type="button"
                    >
                    Make public
                </button>
            }
        </div>
        <div>
            <div class="dropdown">
                 <button
                     class="btn btn-sm"
                     type="button"
                     data-bs-toggle="dropdown"
                     >
                     <i class="fa-solid fa-bars"></i>
                 </button>
                 <ul class="dropdown-menu dropdown-menu-end">
                     <li>
                         <form asp-page-handler="DeleteWatchdog"
                               asp-route-watchdogId="@Model.WatchdogDetailArgs.WatchdogId"
                               method="post"
                               data-watchdogs--detail-target="deleteWatchdogForm"
                               >
                             <button class="dropdown-item text-danger" 
                                     type="submit"
                                     >
                                 Delete watchdog
                             </button>
                         </form>
                         
                     </li>
                 </ul>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-6">
            <turbo-frame id="watchdog_overview_@(Model.WatchdogDetailArgs.WatchdogId)"
                         src="@Url.Page("Overview/Overview", new {Model.WatchdogDetailArgs.WatchdogId})">
            </turbo-frame>
        </div>
    </div>
    <h2>Watched web pages</h2>
    <div data-watchdogs--detail-target="webPages">
        @foreach (var watchdogWebPageId in Model.WatchdogDetailArgs.WebPageIds)
        {
            <partial name="WebPage/WebPageTurboFramePartial"
                     model="(Model.WatchdogDetailArgs.WatchdogId, watchdogWebPageId)"
            />
        }
    </div>
    <form asp-page-handler="CreateWatchdogWebPage"
          asp-route-watchdogId="@Model.WatchdogDetailArgs.WatchdogId"
          data-watchdogs--detail-target="addWebPageForm">
        <button type="submit" class="btn btn-primary">
            Add web page to watch
        </button>
    </form>
</div>
