@page "{watchdogId}"
@using MrWatchdog.Core.Features.Watchdogs
@using MrWatchdog.Core.Features.Watchdogs.Domain
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Infrastructure.Authorizations
@model DetailModel

@{
    var title = Model.WatchdogDetailArgs.Name;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/Watchdogs/Manage/Manage">@Resource.ManageWatchdogs</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@title</li>
        </ol>
    </nav>
}

<div @Stimulus.Controller(
         StimulusControllers.WatchdogsDetail,
         new DetailStimulusModel(Model.WatchdogDetailArgs.WatchdogId)
     )>

    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4">@title</h1>
        <turbo-frame id="watchdog_detail_badges_@(Model.WatchdogDetailArgs.WatchdogId)"
                     src="@WatchdogUrlConstants.WatchdogDetailBadgesUrlTemplate.WithWatchdogId(Model.WatchdogDetailArgs.WatchdogId)"
                     reload-on-event="@StimulusControllers.WatchdogsDetailActions:@DomEvents.WatchdogPublicStatusUpdated">
        </turbo-frame>
    </div>
    <p class="text-muted">
        This watchdog will scrape web page(s) and will select results based on the CSS path selector.
        Choose <i>@Resource.ViewScrapingResults</i> to be able to set up an alert with email notification about new scraping results.
        @if (Model.WatchdogDetailArgs.PublicStatus == PublicStatus.Private)
        {
            @:Choose <i>@Resource.RequestToMakePublic</i> to request to make the watchdog public and discoverable by other users 
            @:who will then be able to set up alerts on it.
        }
    </p>    

    <div class="d-flex justify-content-between align-items-center">
        <turbo-frame id="watchdog_detail_actions_@(Model.WatchdogDetailArgs.WatchdogId)"
                     src="@WatchdogUrlConstants.WatchdogDetailActionsUrlTemplate.WithWatchdogId(Model.WatchdogDetailArgs.WatchdogId)"
                     reload-on-event="@StimulusControllers.WatchdogsDetailActions:@DomEvents.WatchdogPublicStatusUpdated">
        </turbo-frame>
        <div>
            <div class="dropdown">
                 <button
                     class="btn btn-sm"
                     type="button"
                     data-bs-toggle="dropdown"
                     >
                     <i class="fa-solid fa-bars"></i>
                 </button>
                 <ul class="dropdown-menu dropdown-menu-end">
                     <li>
                         <form asp-page-handler="DeleteWatchdog"
                               asp-route-watchdogId="@Model.WatchdogDetailArgs.WatchdogId"
                               method="post"
                               data-watchdogs--detail-target="deleteWatchdogForm"
                               >
                             <button class="dropdown-item text-danger" 
                                     type="submit"
                                     >
                                 Delete watchdog
                             </button>
                         </form>
                     </li>
                 </ul>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-6">
            <turbo-frame id="watchdog_detail_overview_@(Model.WatchdogDetailArgs.WatchdogId)"
                         src="@WatchdogUrlConstants.WatchdogDetailOverviewUrlTemplate.WithWatchdogId(Model.WatchdogDetailArgs.WatchdogId)">
            </turbo-frame>
        </div>
        <div class="col-md-6">
            @if (User.GetUserId() != Model.WatchdogDetailArgs.UserId)
            {
                <div class="mb-3">
                    <label asp-for="WatchdogDetailArgs.UserEmail" class="form-label fw-bold">Created by</label>
                    <div>@Model.WatchdogDetailArgs.UserEmail</div>
                </div>
            }
        </div>
    </div>
    <h2>Watched web pages</h2>
    <div data-watchdogs--detail-target="webPages">
        @foreach (var watchdogWebPageId in Model.WatchdogDetailArgs.WebPageIds)
        {
            <partial name="WebPage/WebPageTurboFramePartial"
                     model="(Model.WatchdogDetailArgs.WatchdogId, watchdogWebPageId)"
            />
        }
    </div>
    <form asp-page-handler="CreateWatchdogWebPage"
          asp-route-watchdogId="@Model.WatchdogDetailArgs.WatchdogId"
          data-watchdogs--detail-target="addWebPageForm">
        <button type="submit" class="btn btn-primary">
            Add web page to watch
        </button>
    </form>
</div>
