@page "{watchdogId}"
@using MrWatchdog.Core.Features.Account.Domain
@using MrWatchdog.Core.Features.Watchdogs
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Features.Shared.TagHelpers.Onboarding
@using MrWatchdog.Web.Infrastructure.Authorizations
@model DetailModel

@{
    var title = Model.WatchdogDetailArgs.Name;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/Watchdogs/Manage/Manage">@Resource.ManageWebScrapers</a>
            </li>
            <li class="breadcrumb-item active text-wrap text-break" aria-current="page">@title</li>
        </ol>
    </nav>
    <onboarding id="@OnboardingElementIdentifiers.OnboardingId"
                identifier="@OnboardingIdentifiers.WatchdogsDetail"
                steps="@([
                           new OnboardingStepStimulusModel(
                               Text: "You navigated to a <b>web scraper</b> management.<br/><br/>" +
                                     "This web scraper will scrape web page(s) and will select scraped results based on the CSS path selector."
                           ),
                           new OnboardingStepStimulusModel(
                               Text: "Add web page(s) this web scraper will scrape.",
                               ElementIdentifier: $"#{@OnboardingElementIdentifiers.WatchdogsDetailAddWebPageToWatchId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: "You can change the scraping interval.",
                               ElementIdentifier: $".{@OnboardingElementIdentifiers.WatchdogsDetailScrapingIntervalCssClass}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: "View scraped results to be able to create Watchdog with email notification about new scraped results.",
                               ElementIdentifier: $"#{@OnboardingElementIdentifiers.WatchdogsDetailViewSearchResultsId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: "Request to make the web scraper public and discoverable by other users who will then be able to set up email notification about its new scraped results.",
                               ElementIdentifier: $"#{@OnboardingElementIdentifiers.WatchdogsDetailRequestToMakePublicId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: Resource.OnboardingViewAgainStep,
                               ElementIdentifier: $"#{OnboardingElementIdentifiers.OnboardingId}"
                           )
                       ])"
    />
}

<div @Stimulus.Controller(
         StimulusControllers.WatchdogsDetail,
         new DetailStimulusModel(
             Model.WatchdogDetailArgs.WatchdogId,
             Resource.DeleteWebScraperConfirmationMessage
         )
     )>

    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4 text-wrap text-break">@title</h1>
        <turbo-frame id="watchdog_detail_badges_@(Model.WatchdogDetailArgs.WatchdogId)"
                     src="@WatchdogUrlConstants.WatchdogDetailBadgesUrlTemplate.WithWatchdogId(Model.WatchdogDetailArgs.WatchdogId)"
                     reload-on-event="@StimulusControllers.WatchdogsDetailActions:@DomEvents.WatchdogPublicStatusUpdated">
        </turbo-frame>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <turbo-frame id="watchdog_detail_actions_@(Model.WatchdogDetailArgs.WatchdogId)"
                     src="@WatchdogUrlConstants.WatchdogDetailActionsUrlTemplate.WithWatchdogId(Model.WatchdogDetailArgs.WatchdogId)"
                     reload-on-event="@StimulusControllers.WatchdogsDetailActions:@DomEvents.WatchdogPublicStatusUpdated">
        </turbo-frame>
        <div>
            <div class="dropdown">
                 <button
                     class="btn btn-sm"
                     type="button"
                     data-bs-toggle="dropdown"
                     >
                     <i class="fa-solid fa-bars"></i>
                 </button>
                 <ul class="dropdown-menu dropdown-menu-end">
                     <li>
                         <form asp-page-handler="ArchiveWatchdog"
                               asp-route-watchdogId="@Model.WatchdogDetailArgs.WatchdogId"
                               method="post"
                               data-watchdogs--detail-target="archiveWatchdogForm"
                               >
                             <button class="dropdown-item text-danger" 
                                     type="submit"
                                     >
                                 @Resource.DeleteWebScraper
                             </button>
                         </form>
                     </li>
                 </ul>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-6">
            <turbo-frame id="watchdog_detail_overview_@(Model.WatchdogDetailArgs.WatchdogId)"
                         src="@WatchdogUrlConstants.WatchdogDetailOverviewUrlTemplate.WithWatchdogId(Model.WatchdogDetailArgs.WatchdogId)">
            </turbo-frame>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    @if (User.GetUserId() != Model.WatchdogDetailArgs.UserId)
                    {
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label asp-for="WatchdogDetailArgs.UserEmail" class="form-label fw-bold">Created by</label>
                                    <div>@Model.WatchdogDetailArgs.UserEmail</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-12">
                    <turbo-frame id="watchdog_detail_statistics_@(Model.WatchdogDetailArgs.WatchdogId)"
                                 src="@WatchdogUrlConstants.WatchdogDetailStatisticsUrlTemplate.WithWatchdogId(Model.WatchdogDetailArgs.WatchdogId)"
                                 reload-on-event="@StimulusControllers.WatchdogsDetailActions:@DomEvents.WatchdogPublicStatusUpdated">
                    </turbo-frame>
                </div>
            </div>
        </div>
    </div>
    <h2>@Resource.WatchedWebPages</h2>
    <div data-watchdogs--detail-target="webPages">
        @foreach (var watchdogWebPageId in Model.WatchdogDetailArgs.WebPageIds)
        {
            <partial name="WebPage/WebPageTurboFramePartial"
                     model="(Model.WatchdogDetailArgs.WatchdogId, watchdogWebPageId)"
            />
        }
    </div>
    <form asp-page-handler="CreateWatchdogWebPage"
          asp-route-watchdogId="@Model.WatchdogDetailArgs.WatchdogId"
          data-watchdogs--detail-target="addWebPageForm">
        <button type="submit" 
                class="btn btn-primary"
                id="@OnboardingElementIdentifiers.WatchdogsDetailAddWebPageToWatchId">
            @Resource.AddWebPageToScrape
        </button>
    </form>
</div>
