@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared.TagHelpers.Onboarding
@model ScrapedResultsWebPages

<div data-scrapers--scraped-results-web-pages-target="allResults">
    <label class="form-label fw-bold" id="@OnboardingElementIdentifiers.ScrapersScrapedResultsWebPagesWatchedWebPagesId">
        @Resource.WatchedWebPages
    </label>
    @foreach (var scraperWebPageArgs in Model.ScraperScrapedResultsArgs.WebPages)
    {
        <div class="card mb-1" 
             data-scrapers--scraped-results-web-pages-target="webPage"
             >
            <div class="card-header d-flex justify-content-between align-items-center text-wrap text-break">
                <span><a href="@scraperWebPageArgs.Url" target="_blank">@scraperWebPageArgs.Name</a></span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label fw-bold">@Resource.ScrapedResults</label>
                        <ul translate="no">
                            @foreach (var scrapedResult in scraperWebPageArgs.ScrapedResults)
                            {
                                <li data-scrapers--scraped-results-web-pages-target="scrapingResult">
                                    @Html.Raw(scrapedResult)
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="col-md-6 mt-3" 
     data-scrapers--scraped-results-web-pages-target="noResults" 
     style="display: none"
>
    <i class="fa-solid fa-triangle-exclamation text-warning"></i> 
    <span data-scrapers--scraped-results-web-pages-target="noResultsMessage" class="text-wrap text-break"></span>
</div>
