@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.Extensions.Options
@using MrWatchdog.Core.Infrastructure.Repositories
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Logs
@using MrWatchdog.Web.Infrastructure.Authorizations
@inject IUserRepository UserRepository
@inject IOptions<LoggingOptions> LoggingOptions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - @Resource.MrWatchdog</title>

    <link rel="stylesheet" href="~/lib/bootstrap/5.3.6/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/bundle.css" data-turbo-track="reload" />

    <script src="~/lib/bootstrap/5.3.6/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/lib/hotwired/turbo/8.0.18/turbo.es2017-esm.min.js"></script>
    <script src="~/lib/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/1.21.0/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootbox.js/6.0.4/bootbox.min.js"></script>

    <script type="module" src="~/assets/bundle.js" data-turbo-track="reload"></script>

    @await RenderSectionAsync("Scripts", required: false)
</head>
@{
    var disableTurboOnPage = (bool)(ViewData[ViewDataConstants.DisableTurboOnPage] ?? false);
    var hideMenu = ViewData["HideMenu"] as bool? ?? false;
}
<body data-controller="@StimulusControllers.Body" 
      data-turbo="@((!disableTurboOnPage).ToString().ToLower())"
      data-log-error-api-secret="@LoggingOptions.Value.LogErrorApiSecret"
      >
    <header style="display:@(hideMenu ? "none" : "")">
        <nav class="navbar navbar-expand-sm bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index"><i class="fas fa-dog"></i> @Resource.MrWatchdog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @{
                        var razorPageContext = ViewContext.ActionDescriptor as CompiledPageActionDescriptor;

                        HtmlString MarkIfActive(string pagePath) => pagePath == razorPageContext?.ViewEnginePath
                            ? new HtmlString("active")
                            : HtmlString.Empty;
                    }
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @MarkIfActive("/Watchdogs/Index")" asp-page="/Watchdogs/Index">
                                @Resource.ListOfWatchdogs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @MarkIfActive("/Watchdogs/Searches/Searches")" asp-page="/Watchdogs/Searches/Searches">
                                @Resource.MySearches
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @MarkIfActive("/Watchdogs/Manage/Manage")" asp-page="/Watchdogs/Manage/Manage">
                                @Resource.ManageWatchdogs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @MarkIfActive("/Support")" asp-page="/Support">
                                Support
                            </a>
                        </li>
                    </ul>
                    @if (User.IsAuthenticated())
                    {
                        var isSuperAdmin = await User.IsSuperAdmin(UserRepository);

                        <form asp-controller="Login"
                              asp-action="Logout"
                              class="d-flex align-items-center"
                              >
                            <span @(isSuperAdmin ? "title=superadmin" : "")>
                                <i class="fas @(isSuperAdmin ? "fa-user-ninja" : "fa-user")"></i> @User.Identity?.Name
                            </span>
                            <button class="btn btn-link" 
                                    type="submit"
                                    data-action="@StimulusControllers.Body#logout"
                                    >
                                <span><i class="fas fa-sign-out"></i> Logout</span>
                            </button>
                        </form>
                    }
                    else
                    {
                        <a asp-page="/Account/Login/Login">Log in / register</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="d-flex justify-content-between">
                @await RenderSectionAsync("Navigation", required: false)
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Copyright &copy; 2025 <a href="https://xhafan.com/blog/about.html">Martin Havlišta</a>
        </div>
    </footer>
</body>
</html>
