@page
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared;
@model WebPageModel
@{
   Layout = null;
}
<!turbo-frame id="watchdog_web_page_@(Model.WatchdogWebPageId)">
    <div class="card mb-3" @Stimulus.Controller(
                               StimulusControllers.WatchdogsDetailWebPage, 
                               new WebPageStimulusModel(Resource.RemoveWebPageConfirmationMessage)
                           )
         >
        <div class="card-header d-flex justify-content-between align-items-center">
            <span data-watchdogs--detail-web-page-target="webPageName" class="text-wrap text-break">
                @Model.WatchdogWebPageName
            </span>
            <form asp-page-handler="RemoveWatchdogWebPage"
                  asp-route-watchdogId="@Model.WatchdogId"
                  asp-route-watchdogWebPageId="@Model.WatchdogWebPageId"
                  data-watchdogs--detail-web-page-target="removeWebPageForm"
                  >
                <button type="submit" 
                        class="border-0 bg-transparent"
                        title="@Resource.DeleteWebPage"
                        >
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
        </div>
        <div class="card-body">
            <turbo-frame id="watchdog_web_page_disabled_warning_@(Model.WatchdogWebPageId)" 
                         src="@Url.Page("WebPageDisabledWarning", new
                              {
                                  watchdogId = Model.WatchdogId,
                                  watchdogWebPageId = Model.WatchdogWebPageId
                              })"
                         data-watchdogs--detail-web-page-target="webPageDisabledWarning"
            />
            <div class="row">
                <div class="col-md-6 mb-3">
                    <turbo-frame id="watchdog_web_page_overview_@(Model.WatchdogWebPageId)" 
                                 src="@Url.Page("WebPageOverview", new
                                      {
                                          watchdogId = Model.WatchdogId,
                                          watchdogWebPageId = Model.WatchdogWebPageId
                                      })"
                                 data-watchdogs--detail-web-page-target="webPageOverview"
                                 />
                </div>
                <div class="col-md-6">
                    <turbo-frame id="watchdog_web_page_scraping_results_@Model.WatchdogWebPageId"
                                 src="@Url.Page("WebPageScrapingResults", new
                                      {
                                          watchdogId = Model.WatchdogId,
                                          watchdogWebPageId = Model.WatchdogWebPageId
                                      })"
                                 data-watchdogs--detail-web-page-target="webPageScrapingResults"
                                 />
                </div>
            </div>
        </div>
    </div>
</!turbo-frame>

