@page
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@model WebPageScrapingResultsModel
@{
   Layout = null;
}
<!turbo-frame id="watchdog_web_page_scraping_results_@(Model.WatchdogWebPageScrapingResults.WatchdogWebPageId)">
    <div class="mb-3" 
         @Stimulus.Controller(
             StimulusControllers.WatchdogsDetailWebPageScrapingResults, 
             new WebPageScrapingResultsStimulusModel($"{Model.WatchdogWebPageScrapingResults.ScrapedOn:o}")
         )
         >
        <div class="d-flex justify-content-between">
            <label class="form-label fw-bold">@Resource.ScrapedResults</label>
            <form asp-page-handler="ScrapeWatchdogWebPage"
                  asp-route-watchdogId="@Model.WatchdogId"
                  asp-route-watchdogWebPageId="@Model.WatchdogWebPageId"
                  style="display: inline"
                  data-watchdogs--detail-web-page-scraping-results-target="scrapeWebPageForm"
            >
                <button type="submit" 
                        class="btn btn-outline-primary"
                        >
                    @Resource.ScrapeWebPage
                </button>
            </form>
        </div>
        <div>
            @if (Model.WatchdogWebPageScrapingResults.ScrapingResults.Any())
            {
                <div style="max-height:360px; overflow-y:auto;">
                    <ul translate="no">
                        @foreach (var scrapingResults in Model.WatchdogWebPageScrapingResults.ScrapingResults)
                        {
                            <li>
                                @Html.Raw(scrapingResults)
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <span class="text-danger">
                    @if (Model.WatchdogWebPageScrapingResults.ScrapingErrorMessage != null)
                    {
                        @Resource.Error@:: @Model.WatchdogWebPageScrapingResults.ScrapingErrorMessage
                    }
                    else
                    {
                        @Resource.WebPageNotScrapedYet
                    }
                </span>
            }
        </div>
        @if (Model.WatchdogWebPageScrapingResults.ScrapedOn != null)
        {
            <div class="mt-3">
                @Resource.ScrapedOn: <span data-watchdogs--detail-web-page-scraping-results-target="scrapedOnInBrowserLocale"></span>
            </div>
        }
    </div>
</!turbo-frame>

