@page
@using MrWatchdog.Web.Features.Shared;
@using MrWatchdog.Web.Features.Shared.ReinforcedTypings;
@model WebPageModel
@{
   Layout = null;
}
<!turbo-frame id="watchdog_web_page_@(Model.WatchdogWebPageId)">
    <div class="card mb-1" @Stimulus.Controller(StimulusControllers.WatchdogsDetailWebPage)>
        <div class="card-header d-flex justify-content-between align-items-center">
            <span data-watchdogs--detail-web-page-target="webPageName">
                @Model.WatchdogWebPageName
            </span>
            <form asp-page-handler="RemoveWatchdogWebPage"
                  asp-route-watchdogId="@Model.WatchdogId"
                  asp-route-watchdogWebPageId="@Model.WatchdogWebPageId"
                  method="post"
                  data-watchdogs--detail-web-page-target="removeWebPageForm"
                  >
                <button type="submit" class="btn-close"></button>
            </form>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <turbo-frame id="watchdog_web_page_overview_@(Model.WatchdogWebPageId)" 
                                 src="@Url.Page("WebPageOverview", new
                                      {
                                          watchdogId = Model.WatchdogId,
                                          watchdogWebPageId = Model.WatchdogWebPageId
                                      })"
                                 data-watchdogs--detail-web-page-target="webPageOverview"
                                 />
                </div>
                <div class="col-md-6">
                    <turbo-frame id="watchdog_web_page_selected_elements_@Model.WatchdogWebPageId"
                                 src="@Url.Page("WebPageSelectedElements", new
                                      {
                                          watchdogId = Model.WatchdogId,
                                          watchdogWebPageId = Model.WatchdogWebPageId
                                      })"
                                 data-watchdogs--detail-web-page-target="webPageSelectedElements"
                                 />
                </div>
            </div>
        </div>
    </div>
</!turbo-frame>

