@page
@using MrWatchdog.Core.Resources
@model OtherUsersScrapersModel
@{
    Layout = null;
}
<!turbo-frame id="otherUsersScrapers">
    <p class="text-muted">
        @Resource.ManageOtherUsersScrapersDescription
    </p>
    @foreach (var scraper in Model.OtherUsersScrapers)
    {
        <div>
            <a asp-page="/Scrapers/Detail/Detail" 
               asp-route-scraperId="@scraper.ScraperId" 
               data-turbo-frame="_top"
               class="text-wrap text-break"
               >
                @scraper.ScraperName</a>
            (@scraper.UserEmail)
            <public-status-badge public-status="@scraper.PublicStatus"
                                 show-private="false" />
        </div>
    }
</!turbo-frame>