@page
@using MrWatchdog.Core.Resources
@model UserScrapersModel
@{
    Layout = null;
}
<!turbo-frame id="userScrapers">
    <p class="text-muted">
        @Resource.ManageUserScrapersDescription
    </p>
    
    <div class="my-3">
        <a asp-page="/Scrapers/Create/Create" 
           class="btn btn-outline-primary text-decoration-none"
           data-turbo-frame="_top"
           >
            @Resource.CreateScraper
        </a>
    </div>    

    @foreach (var scraper in Model.UserScrapers)
    {
        <div>
            <a asp-page="/Scrapers/Detail/Detail" 
               asp-route-scraperId="@scraper.ScraperId" 
               data-turbo-frame="_top"
               class="text-wrap text-break"
               >
                @scraper.ScraperName</a>
            <public-status-badge public-status="@scraper.PublicStatus"
                                 show-private="false" />
        </div>
    }
</!turbo-frame>