@page
@using System.Net
@using MrWatchdog.Core.Resources
@model ErrorModel
@inject IWebHostEnvironment Environment

@{
    var title = Resource.Error;
    ViewData["Title"] = title;
}

<h1 class="display-4 text-danger">@title</h1>
<h2 class="text-danger">@Resource.ErrorDescription</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Resource.RequestId:</strong> <code>@Model.RequestId</code>
    </p>
}
@if (Model.HttpStatusCode.HasValue)
{
    <p>
        <strong>@Resource.StatusCode:</strong> <code>@Model.HttpStatusCode @((HttpStatusCode)Model.HttpStatusCode)</code>
    </p>
}
@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage) && Environment.IsDevelopment())
{
    <p>
        <strong>@Resource.ErrorMessage:</strong> @Model.ErrorMessage
    </p>
}
<p>
    @Resource.NavigateToThe <a href="/">@Resource.HomePage</a>.
</p>