@page
@using System.Net
@model ErrorModel
@inject IWebHostEnvironment Environment

@{
    var title = "Error";
    ViewData["Title"] = title;
}

<h1 class="display-4 text-danger">@title</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
@if (Model.HttpStatusCode.HasValue)
{
    <p>
        <strong>Status Code:</strong> <code>@Model.HttpStatusCode @((HttpStatusCode)Model.HttpStatusCode)</code>
    </p>
}
@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage) && Environment.IsDevelopment())
{
    <p>
        <strong>Error message:</strong> @Model.ErrorMessage
    </p>
}
<p>
    Navigate to the <a href="/">home page</a>.
</p>