@page
@using CoreUtils.Extensions
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Features.Scrapers
@using MrWatchdog.Core.Resources
@model UserScrapersModel
@inject IStringLocalizer<Resource> Localizer
@{
    Layout = null;
}
<!turbo-frame id="userScrapers">
    <h1 class="display-4">@Resource.MyScrapers</h1>
    <p class="text-muted">
        @Resource.MyScrapersDescription
    </p>

    @foreach (var scraper in Model.UserScrapers)
    {
        <div>
            <a asp-page="/Scrapers/ScrapedResults/ScrapedResults" 
               asp-route-scraperId="@scraper.ScraperId"
               data-turbo-frame="_top"
               class="text-wrap text-break"
            >
                @scraper.ScraperName</a>
            <public-status-badge public-status="@scraper.PublicStatus"
                                 show-private="false"
            />
        </div>
    }

    @if (Model.UserScrapers.IsEmpty())
    {
        <i class="fa-solid fa-triangle-exclamation text-warning"></i> 
        @Html.Raw(
            Localizer[
                Resource.YouHaveNoScrapersCreated,
                $"<a href=\"{ScraperUrlConstants.ScraperCreateUrl}\" data-turbo-frame=\"_top\">{Resource.Here}</a>"
            ]
        )
    }
</!turbo-frame>