@page "{scraperId}"
@using MrWatchdog.Core.Features.Account.Domain
@using MrWatchdog.Core.Features.Scrapers
@using MrWatchdog.Core.Infrastructure.Repositories
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Features.Shared.TagHelpers.Onboarding
@using MrWatchdog.Web.Infrastructure.Authorizations
@model ScrapingResultsModel
@inject IUserRepository UserRepository

@{
    var title = Model.ScraperScrapingResultsArgs.ScraperName;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/Scrapers/Index">@Resource.Scrapers</a>
            </li>
            <li class="breadcrumb-item active text-wrap text-break" aria-current="page">@title</li>
        </ol>
    </nav>
    <onboarding id="@OnboardingElementIdentifiers.OnboardingId"
                identifier="@OnboardingIdentifiers.ScraperScrapingResults"
                steps="@([
                           new OnboardingStepStimulusModel(
                               Text: Resource.ScraperResultsOnboardingIntro
                           ),
                           new OnboardingStepStimulusModel(
                               Text: Resource.ScraperResultsOnboardingWatchedWebPages,
                               ElementIdentifier: $"#{@OnboardingElementIdentifiers.ScrapersScrapingResultsWebPagesWatchedWebPagesId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: Resource.ScraperResultsOnboardingSearchTerm,
                               ElementIdentifier: $"#{OnboardingElementIdentifiers.ScrapersScrapingResultsSearchTermInputGroupId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: Resource.ScraperResultsOnboardingCreateWatchdog,
                               ElementIdentifier: $"#{OnboardingElementIdentifiers.ScrapersScrapingResultsCreateWatchdogId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: Resource.ScraperResultsOnboardingLoginOrRegisterToCreateWatchdog,
                               ElementIdentifier: $"#{OnboardingElementIdentifiers.ScrapersScrapingResultsLoginToCreateWatchdogId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: Resource.OnboardingViewAgainStep,
                               ElementIdentifier: $"#{OnboardingElementIdentifiers.OnboardingId}"
                           )
                       ])"
    />
}

<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4 text-wrap text-break">@title</h1>
    @if (Model.ScraperScrapingResultsArgs.IsArchived)
    {
        <span class="badge text-bg-warning">
            @Resource.Archived
        </span>
    }
</div>

@if (!string.IsNullOrWhiteSpace(Model.ScraperScrapingResultsArgs.ScraperDescription))
{
    <p class="text-muted">
        @Model.ScraperScrapingResultsArgs.ScraperDescription
    </p>
}

<div @Stimulus.Controller(StimulusControllers.ScrapersScrapingResults)>
    <form asp-page-handler="CreateWatchdog"
          asp-route-scraperId="@Model.ScraperScrapingResultsArgs.ScraperId"
          data-scrapers--scraping-results-target="createWatchdogForm"
    >
        <!-- Prevent implicit submission of the form by hitting enter on inputs -->
        <button type="submit" disabled style="display: none"></button>

        <div class="my-3">
            <div class="input-group" id="@OnboardingElementIdentifiers.ScrapersScrapingResultsSearchTermInputGroupId">
                <span class="input-group-text">
                    <i class="fas fa-search"></i>
                </span>
                <input asp-for="SearchTerm" 
                       class="form-control" 
                       data-scrapers--scraping-results-target="searchTerm"
                       data-action="input->@StimulusControllers.ScrapersScrapingResults#onSearchTermModified"
                       placeholder="@Resource.FilterResults"
                />
            </div>
            <span asp-validation-for="SearchTerm" class="text-danger"></span>
            <div class="mt-3">
                <button class="btn btn-primary text-wrap text-break"
                        data-scrapers--scraping-results-target="createWatchdog"
                        type="submit"
                        style="display:@(User.IsAuthenticated() ? "" : "none")"
                        id="@OnboardingElementIdentifiers.ScrapersScrapingResultsCreateWatchdogId"
                        >
                    @Resource.CreateWatchdog
                </button> 
                <button class="btn btn-primary"
                        data-scrapers--scraping-results-target="loginToCreateWatchdog"
                        type="button"
                        data-action="@StimulusControllers.ScrapersScrapingResults#loginToNotifyAboutNewResults"
                        style="display:@(User.IsAuthenticated() ? "none" : "")"
                        id="@OnboardingElementIdentifiers.ScrapersScrapingResultsLoginToCreateWatchdogId"
                        >
                    @Resource.LoginOrRegisterToCreateWatchdog
                </button>
                @if (User.GetUserId() == Model.ScraperScrapingResultsArgs.UserId || await User.IsSuperAdmin(UserRepository))
                {
                    <a href="@ScraperUrlConstants.ScraperDetailUrlTemplate.WithScraperId(Model.ScraperScrapingResultsArgs.ScraperId)"
                       class="btn btn-outline-primary text-decoration-none">
                        @Resource.ManageScraper
                    </a>
                }
            </div>
        </div>
    </form>

    <scraping-results-web-pages scraper-scraping-results-args="Model.ScraperScrapingResultsArgs" />
</div>