@page
@using MrWatchdog.Core.Resources
@model ManageModel

@{
    var title = Resource.ManageWatchdogs;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@title</li>
        </ol>
    </nav>
}

<h1 class="display-4">@title</h1>

<div class="my-3">
    <a asp-page="/Watchdogs/Create/Create" 
       class="btn btn-outline-primary text-decoration-none">
        Create watchdog
    </a>
</div>

@foreach (var watchdog in Model.Watchdogs)
{
    <div>
        <a asp-page="/Watchdogs/Detail/Detail" asp-route-watchdogId="@watchdog.WatchdogId">@watchdog.WatchdogName</a>
        <public-status-badge public-status="@watchdog.PublicStatus"
                             show-private="false"
        />
    </div>
}
