@page "{scraperId}"
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared.TagHelpers.Onboarding
@model OverviewModel
@{
   Layout = null;
}
<!turbo-frame id="scraper_detail_overview_@(Model.ScraperOverviewArgs.ScraperId)">
    <div class="card">
        <div class="card-body">
            <view-or-edit-form action="@Url.Page("Overview")">
                
                <view-mode-item>
                    <div class="mb-3">
                        <label asp-for="ScraperOverviewArgs.Name" class="form-label fw-bold"></label>
                        <div>@Model.ScraperOverviewArgs.Name</div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ScraperOverviewArgs.Description" class="form-label fw-bold"></label>
                        <div>@Model.ScraperOverviewArgs.Description</div>
                    </div>
                    <div class="mb-3 @OnboardingElementIdentifiers.ScrapersDetailScrapingIntervalCssClass">
                        <label asp-for="ScraperOverviewArgs.ScrapingIntervalInSeconds" class="form-label fw-bold"></label>
                        <div>@Model.ScraperOverviewArgs.ScrapingIntervalInSeconds</div>
                    </div>
                </view-mode-item>
                
                <edit-mode-item>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ScraperOverviewArgs.ScraperId" type="hidden" />

                    <div class="mb-3">
                        <label asp-for="ScraperOverviewArgs.Name" class="form-label fw-bold"></label>
                        <localization-json-format-hint />
                        <textarea asp-for="ScraperOverviewArgs.Name"
                                  class="form-control"
                                  style="width:100%" 
                                  rows="3"
                                  >
                        </textarea>
                        <span asp-validation-for="ScraperOverviewArgs.Name" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="ScraperOverviewArgs.Description" class="form-label fw-bold"></label>
                        <localization-json-format-hint />
                        <textarea asp-for="ScraperOverviewArgs.Description" 
                                  class="form-control"
                                  style="width:100%" 
                                  rows="5"
                                  >
                        </textarea>
                        <span asp-validation-for="ScraperOverviewArgs.Description" class="text-danger"></span>
                    </div>
    
                    <div class="mb-3 @OnboardingElementIdentifiers.ScrapersDetailScrapingIntervalCssClass">
                        <label asp-for="ScraperOverviewArgs.ScrapingIntervalInSeconds" class="form-label fw-bold"></label>
                        <input asp-for="ScraperOverviewArgs.ScrapingIntervalInSeconds" class="form-control" />
                        <span asp-validation-for="ScraperOverviewArgs.ScrapingIntervalInSeconds" class="text-danger"></span>
                    </div>
                </edit-mode-item>
                
                @{
                    var advancedCollapsibleSectionId = "scraperDetailOverviewAdvanced";
                }
                <a data-bs-toggle="collapse" href="#@advancedCollapsibleSectionId">@Resource.Advanced</a>
                <div class="collapse" id="@advancedCollapsibleSectionId">
                    <view-mode-item>
                        <div class="my-3">
                            <input type="checkbox" checked="@Model.ScraperOverviewArgs.ScrapedResultsFilteringNotSupported" disabled/>
                            <label asp-for="ScraperOverviewArgs.ScrapedResultsFilteringNotSupported" class="form-check-label fw-bold"></label>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ScraperOverviewArgs.IntervalBetweenSameResultNotificationsInDays" class="form-label fw-bold"></label>
                            <div>@Model.ScraperOverviewArgs.IntervalBetweenSameResultNotificationsInDays</div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ScraperOverviewArgs.NumberOfFailedScrapingAttemptsBeforeAlerting" class="form-label fw-bold"></label>
                            <div>@Model.ScraperOverviewArgs.NumberOfFailedScrapingAttemptsBeforeAlerting</div>
                        </div>
                    </view-mode-item>
                    
                    <edit-mode-item>
                        <div class="my-3">
                            <input asp-for="ScraperOverviewArgs.ScrapedResultsFilteringNotSupported"
                                   type="checkbox" 
                                   checked="@Model.ScraperOverviewArgs.ScrapedResultsFilteringNotSupported" 
                            />
                            <label asp-for="ScraperOverviewArgs.ScrapedResultsFilteringNotSupported" class="form-check-label fw-bold">
                            </label>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ScraperOverviewArgs.IntervalBetweenSameResultNotificationsInDays" class="form-label fw-bold"></label>
                            <input asp-for="ScraperOverviewArgs.IntervalBetweenSameResultNotificationsInDays" class="form-control" />
                            <span asp-validation-for="ScraperOverviewArgs.IntervalBetweenSameResultNotificationsInDays" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ScraperOverviewArgs.NumberOfFailedScrapingAttemptsBeforeAlerting" class="form-label fw-bold"></label>
                            <input asp-for="ScraperOverviewArgs.NumberOfFailedScrapingAttemptsBeforeAlerting" class="form-control" />
                            <span asp-validation-for="ScraperOverviewArgs.NumberOfFailedScrapingAttemptsBeforeAlerting" class="text-danger"></span>
                        </div>
                    </edit-mode-item>
                </div>

            </view-or-edit-form>
        </div>
    </div>
</!turbo-frame>