@page "{scraperId}"
@using MrWatchdog.Core.Features.Scrapers
@using MrWatchdog.Core.Features.Scrapers.Domain
@using MrWatchdog.Core.Infrastructure.Repositories
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Features.Shared.TagHelpers.Onboarding
@using MrWatchdog.Web.Infrastructure.Authorizations
@inject IUserRepository UserRepository
@model ActionsModel
@{
    Layout = null;
}
<!turbo-frame id="scraper_detail_actions_@(Model.ScraperDetailPublicStatusArgs.ScraperId)">
    <div @Stimulus.Controller(
             StimulusControllers.ScrapersDetailActions, 
             new ActionsStimulusModel(
                 Resource.RequestToMakeScraperPublicConfirmationMessage,
                 Resource.MakeScraperPublicConfirmationMessage,
                 Resource.MakeScraperPrivateConfirmationMessage
             )
         )
         >
        <a href="@ScraperUrlConstants.ScraperScrapedResultsUrlTemplate.WithScraperId(Model.ScraperDetailPublicStatusArgs.ScraperId)" 
           class="btn btn-outline-primary text-decoration-none"
           data-turbo-frame="_top"
           id="@OnboardingElementIdentifiers.ScrapersDetailViewScrapedResultsId"
           >
            @Resource.ViewScrapedResults
        </a>
            @{
                var isRequestToMakePublicFormVisible = !await User.IsSuperAdmin(UserRepository)
                                                       && Model.ScraperDetailPublicStatusArgs.PublicStatus == PublicStatus.Private;
        }
        <form asp-page-handler="RequestToMakePublic"
              asp-route-scraperId="@Model.ScraperDetailPublicStatusArgs.ScraperId"
              method="post"
              data-scrapers--detail-actions-target="requestToMakePublicForm"
              style="display:@(!isRequestToMakePublicFormVisible ? "none" : "inline")"
        >
            <button class="btn btn-outline-primary"
                    type="submit"
                    id="@OnboardingElementIdentifiers.ScrapersDetailRequestToMakePublicId"
            >
                @Resource.RequestToMakePublic
            </button>
        </form>
        @{
            var isMakePublicFormVisible = await User.IsSuperAdmin(UserRepository)
                                          && Model.ScraperDetailPublicStatusArgs.PublicStatus != PublicStatus.Public;
        }
        <form asp-page-handler="MakePublic"
              asp-route-scraperId="@Model.ScraperDetailPublicStatusArgs.ScraperId"
              data-scrapers--detail-actions-target="makePublicForm"
              style="display:@(!isMakePublicFormVisible ? "none" : "inline")"
        >
            <button class="btn btn-outline-primary"
                    type="submit"
            >
                @Resource.MakePublic
            </button>
        </form>
        @{
            var isMakePrivateFormVisible = Model.ScraperDetailPublicStatusArgs.PublicStatus != PublicStatus.Private;
        }
        <form asp-page-handler="MakePrivate"
              asp-route-scraperId="@Model.ScraperDetailPublicStatusArgs.ScraperId"
              method="post"
              data-scrapers--detail-actions-target="makePrivateForm"
              style="display:@(!isMakePrivateFormVisible ? "none" : "inline")"
        >
            <button class="btn btn-outline-primary"
                    type="submit"
                    >
                @Resource.MakePrivate
            </button>
        </form>
    </div>
</!turbo-frame>