@page
@using CoreUtils.Extensions
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Features.Scrapers
@using MrWatchdog.Core.Resources
@model IndexModel
@inject IStringLocalizer<Resource> Localizer
@{
    var title = Resource.MyWatchdogs;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@title</li>
        </ol>
    </nav>
}

<h1 class="display-4">@title</h1>
<p class="text-muted">
    @Resource.MyWatchdogsDescription
</p>

@foreach (var watchdog in Model.Watchdogs)
{
    <div>
        <a asp-page="/Watchdogs/Detail/Detail" 
           asp-route-watchdogId="@watchdog.WatchdogId"
           class="text-wrap text-break"
           >
            <span>@watchdog.ScraperName</span>
            <span translate="no">@(!string.IsNullOrWhiteSpace(watchdog.SearchTerm) ? $" - {watchdog.SearchTerm}" : "")</span>
            @if (!watchdog.ReceiveNotification)
            {
                <span title="Email notification disabled" style="position: relative; display: inline-block; color: #bbb;">
                    <i class="fa-solid fa-envelope"></i>
                    <i class="fa-solid fa-slash" 
                       style="position: absolute; top: 4px; left: -2px; width: 100%; height: 100%; color: red; pointer-events: none;"></i>
                </span>
            }
        </a>
    </div>
}

<p class="pt-3">
    @if (Model.Watchdogs.IsEmpty())
    {
        <i class="fa-solid fa-triangle-exclamation text-warning"></i> @Resource.YouHaveNoWatchdogs
    }
    else
    {
        <i class="fa-solid fa-circle-info text-primary"></i>
    }

    @Html.Raw(
        Localizer[
            Resource.AddNewWatchdogRecommendation,
            $"<a href=\"{ScraperUrlConstants.ScrapersUrl}\">{Resource.ListOfScrapers}</a>",
            Resource.CreateWatchdog
        ]
    )
</p>