@page "{watchdogId}"
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Features.Shared.TagHelpers.Onboarding
@model OverviewModel
@{
   Layout = null;
}
<!turbo-frame id="watchdog_overview_@(Model.WatchdogOverviewArgs.WatchdogId)">
    <div @Stimulus.Controller(StimulusControllers.WatchdogDetailOverview)>
        <view-or-edit-form action="@Url.Page("Overview")">
        
            <view-mode-item>
                <div class="mb-3">
                    <div class="input-group @OnboardingElementIdentifiers.WatchdogsDetailSearchTermInputGroupCssClass">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                        <input asp-for="WatchdogOverviewArgs.SearchTerm" 
                               class="form-control" 
                               placeholder="@Resource.FilterResults"
                               disabled
                        />
                    </div>
                </div>
                <div class="mb-1 @OnboardingElementIdentifiers.WatchdogsDetailReceiveNotificationCssClass">
                    <input type="checkbox" checked="@Model.WatchdogOverviewArgs.ReceiveNotification" disabled/>
                    <label asp-for="WatchdogOverviewArgs.ReceiveNotification" class="form-check-label fw-bold">
                        <i class="fa-solid fa-bell ms-2"></i> @Html.Raw(Resource.ReceiveEmailNotificationAboutNewResults)
                    </label>
                </div>
            </view-mode-item>
        
            <edit-mode-item>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="WatchdogOverviewArgs.WatchdogId" type="hidden" />
                
                <div class="mb-3">
                    <div class="input-group @OnboardingElementIdentifiers.WatchdogsDetailSearchTermInputGroupCssClass">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                        <input asp-for="WatchdogOverviewArgs.SearchTerm" 
                               class="form-control"
                               data-watchdogs--detail-overview-target="searchTerm"
                               data-action="input->@StimulusControllers.WatchdogDetailOverview#onSearchTermModified"
                               placeholder="@Resource.FilterResults"
                        />
                    </div>
                    <span asp-validation-for="WatchdogOverviewArgs.SearchTerm" class="text-danger"></span>
                </div>
                <div class="mb-1 @OnboardingElementIdentifiers.WatchdogsDetailReceiveNotificationCssClass">
                    <input asp-for="WatchdogOverviewArgs.ReceiveNotification"
                           type="checkbox" 
                           checked="@Model.WatchdogOverviewArgs.ReceiveNotification" 
                    />
                    <label asp-for="WatchdogOverviewArgs.ReceiveNotification" 
                           class="form-check-label fw-bold">
                        <i class="fa-solid fa-bell ms-2"></i> @Html.Raw(Resource.ReceiveEmailNotificationAboutNewResults)
                    </label>
                </div>
            </edit-mode-item>

        </view-or-edit-form>
    </div>
</!turbo-frame>

