@page
@using CoreUtils.Extensions
@using MrWatchdog.Core.Resources
@model UserWatchdogsModel
@{
    Layout = null;
}
<!turbo-frame id="userWatchdogs">
    <h1 class="display-4">@Resource.MyWebScrapers</h1>    
    <p class="text-muted">
        @Resource.MyWebScrapersDescription
    </p>

    @foreach (var watchdog in Model.UserWatchdogs)
    {
        <div>
            <a asp-page="/Watchdogs/ScrapingResults/ScrapingResults" 
               asp-route-watchdogId="@watchdog.WatchdogId"
               data-turbo-frame="_top"
               class="text-wrap text-break"
            >
                @watchdog.WatchdogName</a>
            <public-status-badge public-status="@watchdog.PublicStatus"
                                 show-private="false"
            />
        </div>
    }

    @if (Model.UserWatchdogs.IsEmpty())
    {
        <i class="fa-solid fa-triangle-exclamation text-warning"></i> 
        @:You have no watchdogs created. You can create a watchdog 
        <a asp-page="/Watchdogs/Create/Create" data-turbo-frame="_top">here</a>@:.
    }
</!turbo-frame>