@page
@using CoreUtils.Extensions
@using MrWatchdog.Core.Features.Watchdogs
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Watchdogs.ScrapingResults
@model AlertsModel

@{
    var title = Resource.MyAlerts;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@title</li>
        </ol>
    </nav>
}

<h1 class="display-4">@title</h1>

@foreach (var watchdogAlert in Model.WatchdogAlerts)
{
    <div>
        <a asp-page="/Watchdogs/Alert/Alert" asp-route-watchdogAlertId="@watchdogAlert.WatchdogAlertId">
            @(!string.IsNullOrWhiteSpace(watchdogAlert.SearchTerm) ? $"{watchdogAlert.SearchTerm} - " : "")@watchdogAlert.WatchdogName
        </a>
    </div>
}

@if (Model.WatchdogAlerts.IsEmpty())
{
    <i class="fa-solid fa-triangle-exclamation text-warning"></i> 
    @:You have no watchdog alerts. To add a new watchdog alert, go to the <a href="@WatchdogUrlConstants.WatchdogsUrl">list of watchdogs</a>, select one,
    @:and click the button <i>@ScrapingResultsConstants.CreateAlertButtonNewResultsLabel</i>.
}

