@page "{scraperId}"
@using MrWatchdog.Core.Features.Account.Domain
@using MrWatchdog.Core.Features.Scrapers
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Features.Shared.TagHelpers.Onboarding
@using MrWatchdog.Web.Infrastructure.Authorizations
@model DetailModel

@{
    var title = Model.ScraperDetailArgs.Name;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/Scrapers/Manage/Manage">@Resource.ManageScrapers</a>
            </li>
            <li class="breadcrumb-item active text-wrap text-break" aria-current="page">@title</li>
        </ol>
    </nav>
    <onboarding id="@OnboardingElementIdentifiers.OnboardingId"
                identifier="@OnboardingIdentifiers.ScraperDetail"
                steps="@([
                           new OnboardingStepStimulusModel(
                               Text: Resource.ScraperDetailOnboardingIntro
                           ),
                           new OnboardingStepStimulusModel(
                               Text: Resource.ScraperDetailOnboardingAddWebPage,
                               ElementIdentifier: $"#{OnboardingElementIdentifiers.ScrapersDetailAddWebPageToWatchId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: Resource.ScraperDetailOnboardingScrapingInterval,
                               ElementIdentifier: $".{OnboardingElementIdentifiers.ScrapersDetailScrapingIntervalCssClass}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: Resource.ScraperDetailOnboardingViewScrapedResults,
                               ElementIdentifier: $"#{OnboardingElementIdentifiers.ScrapersDetailViewScrapedResultsId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: Resource.ScraperDetailOnboardingRequestToMakePublic,
                               ElementIdentifier: $"#{OnboardingElementIdentifiers.ScrapersDetailRequestToMakePublicId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: Resource.OnboardingViewAgainStep,
                               ElementIdentifier: $"#{OnboardingElementIdentifiers.OnboardingId}"
                           )
                       ])"
    />
}

<div @Stimulus.Controller(
         StimulusControllers.ScrapersDetail,
         new DetailStimulusModel(
             Model.ScraperDetailArgs.ScraperId,
             Resource.DeleteScraperConfirmationMessage
         )
     )>

    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4 text-wrap text-break">@title</h1>
        <turbo-frame id="scraper_detail_badges_@(Model.ScraperDetailArgs.ScraperId)"
                     src="@ScraperUrlConstants.ScraperDetailBadgesUrlTemplate.WithScraperId(Model.ScraperDetailArgs.ScraperId)"
                     reload-on-event="@StimulusControllers.ScrapersDetailActions:@DomEvents.ScraperPublicStatusUpdated">
        </turbo-frame>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <turbo-frame id="scraper_detail_actions_@(Model.ScraperDetailArgs.ScraperId)"
                     src="@ScraperUrlConstants.ScraperDetailActionsUrlTemplate.WithScraperId(Model.ScraperDetailArgs.ScraperId)"
                     reload-on-event="@StimulusControllers.ScrapersDetailActions:@DomEvents.ScraperPublicStatusUpdated">
        </turbo-frame>
        <div>
            <div class="dropdown">
                 <button
                     class="btn btn-sm"
                     type="button"
                     data-bs-toggle="dropdown"
                     >
                     <i class="fa-solid fa-bars"></i>
                 </button>
                 <ul class="dropdown-menu dropdown-menu-end">
                     <li>
                         <form asp-page-handler="ArchiveScraper"
                               asp-route-scraperId="@Model.ScraperDetailArgs.ScraperId"
                               method="post"
                               data-scrapers--detail-target="archiveScraperForm"
                               >
                             <button class="dropdown-item text-danger" 
                                     type="submit"
                                     >
                                 @Resource.DeleteScraper
                             </button>
                         </form>
                     </li>
                 </ul>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-6">
            <turbo-frame id="scraper_detail_overview_@(Model.ScraperDetailArgs.ScraperId)"
                         src="@ScraperUrlConstants.ScraperDetailOverviewUrlTemplate.WithScraperId(Model.ScraperDetailArgs.ScraperId)">
            </turbo-frame>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    @if (User.GetUserId() != Model.ScraperDetailArgs.UserId)
                    {
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label asp-for="ScraperDetailArgs.UserEmail" class="form-label fw-bold">@Resource.Author</label>
                                    <div>@Model.ScraperDetailArgs.UserEmail</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-12">
                    <turbo-frame id="scraper_detail_statistics_@(Model.ScraperDetailArgs.ScraperId)"
                                 src="@ScraperUrlConstants.ScraperDetailStatisticsUrlTemplate.WithScraperId(Model.ScraperDetailArgs.ScraperId)"
                                 reload-on-event="@StimulusControllers.ScrapersDetailActions:@DomEvents.ScraperPublicStatusUpdated">
                    </turbo-frame>
                </div>
            </div>
        </div>
    </div>
    <h2>@Resource.WatchedWebPages</h2>
    <div data-scrapers--detail-target="webPages">
        @foreach (var scraperWebPageId in Model.ScraperDetailArgs.WebPageIds)
        {
            <partial name="WebPage/WebPageTurboFramePartial"
                     model="(Model.ScraperDetailArgs.ScraperId, scraperWebPageId)"
            />
        }
    </div>
    <form asp-page-handler="CreateScraperWebPage"
          asp-route-scraperId="@Model.ScraperDetailArgs.ScraperId"
          data-scrapers--detail-target="addWebPageForm">
        <button type="submit" 
                class="btn btn-primary"
                id="@OnboardingElementIdentifiers.ScrapersDetailAddWebPageToWatchId">
            @Resource.AddWebPageToScrape
        </button>
    </form>
</div>
