@page "{watchdogId}"
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Features.Shared.ReinforcedTypings
@model ScrapingResultsModel
@inject IStringLocalizer<Resource> SharedLocalizer

@{
    var title = Model.WatchdogScrapingResultsArgs.WatchdogName;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/Watchdogs/Index">@SharedLocalizer[Resource.ListOfWatchdogs]</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@title</li>
        </ol>
    </nav>
}

<h1>@title</h1>

<div @Stimulus.Controller(StimulusControllers.WatchdogsScrapingResults)>
    <form asp-page-handler="CreateWatchdogAlert"
          asp-route-watchdogId="@Model.WatchdogScrapingResultsArgs.WatchdogId"
          data-watchdogs--scraping-results-target="createWatchdogAlertForm">
        <div class="my-3">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fas fa-search"></i>
                </span>
                <input asp-for="SearchTerm" 
                       class="form-control" 
                       data-watchdogs--scraping-results-target="searchTerm"
                       data-action="input->@StimulusControllers.WatchdogsScrapingResults#onSearchTermModified"
                />
            </div>
            <button class="btn btn-primary mt-3"
                    data-watchdogs--scraping-results-target="createWatchdogAlert">
                @ScrapingResultsConstants.CreateAlertButtonNewResultsLabel
            </button>
        </div>
    </form>
    
    <scraping-results-web-pages watchdog-scraping-results-args="Model.WatchdogScrapingResultsArgs"></scraping-results-web-pages>
</div>