@page "{watchdogId}"
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Features.Shared.ReinforcedTypings
@model ScrapingResultsModel
@inject IStringLocalizer<Resource> SharedLocalizer

@{
    ViewData["Title"] = Model.WatchdogScrapingResultsArgs.Name;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Watchdogs/Index">@SharedLocalizer[Resource.ListOfWatchdogs]</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
}

<h1>@ViewData["Title"]</h1>

<div @Stimulus.Controller(StimulusControllers.WatchdogsScrapingResults)>
    <form asp-page-handler="CreateWatchdogAlert"
          asp-route-watchdogId="@Model.WatchdogScrapingResultsArgs.WatchdogId"
          data-watchdogs--scraping-results-target="createWatchdogAlertForm">
        <div class="my-3">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fas fa-search"></i>
                </span>
                <input asp-for="SearchTerm" 
                       class="form-control" 
                       data-watchdogs--scraping-results-target="searchTerm"
                       data-action="input->@StimulusControllers.WatchdogsScrapingResults#onSearchTermModified"
                />
            </div>
            <button class="btn btn-primary mt-3"
                    data-watchdogs--scraping-results-target="createWatchdogAlert">
                @ScrapingResultsConstants.CreateAlertButtonDefaultLabel
            </button>
        </div>
    </form>

    <label class="form-label fw-bold">Monitored web pages</label>

    @foreach (var watchdogWebPageArgs in Model.WatchdogScrapingResultsArgs.WebPages)
    {
        <div class="card mb-1">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span><a href="@watchdogWebPageArgs.Url" target="_blank">@watchdogWebPageArgs.Name</a></span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label fw-bold">Results</label>
                        <ul>
                            @foreach (var selectedElement in watchdogWebPageArgs.SelectedElements)
                            {
                                <li data-watchdogs--scraping-results-target="selectedElement">
                                    @Html.Raw(selectedElement)
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>