@page "{watchdogId}"
@using MrWatchdog.Core.Features.Account.Domain
@using MrWatchdog.Core.Features.Watchdogs
@using MrWatchdog.Core.Infrastructure.Repositories
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Features.Shared.TagHelpers.Onboarding
@using MrWatchdog.Web.Infrastructure.Authorizations
@model ScrapingResultsModel
@inject IUserRepository UserRepository

@{
    var title = Model.WatchdogScrapingResultsArgs.WatchdogName;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/Watchdogs/Index">@Resource.ListOfWatchdogs</a>
            </li>
            <li class="breadcrumb-item active text-wrap text-break" aria-current="page">@title</li>
        </ol>
    </nav>
    <onboarding id="@OnboardingElementIdentifiers.OnboardingId"
                identifier="@OnboardingIdentifiers.WatchdogsScrapingResults"
                steps="@([
                           new OnboardingStepStimulusModel(
                               Title: "Onboarding",
                               Text: "You navigated to a <b>watchdog search results</b>."
                           ),
                           new OnboardingStepStimulusModel(
                               Text: "This watchdog periodically watches web page(s) and selects search results from them.",
                               ElementIdentifier: $"#{@OnboardingElementIdentifiers.WatchdogsScrapingResultsWebPagesWatchedWebPagesId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: "You can enter a search term to filter the search results.",
                               ElementIdentifier: $"#{OnboardingElementIdentifiers.WatchdogsScrapingResultsSearchTermInputGroupId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: "Save Search with email notification about new search results or new search results matching the search term.",
                               ElementIdentifier: $"#{OnboardingElementIdentifiers.WatchdogsScrapingResultsCreateWatchdogSearchId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: "Log in or register to save Search with email notification about new search results or new search results matching the search term.",
                               ElementIdentifier: $"#{OnboardingElementIdentifiers.WatchdogsScrapingResultsLoginToCreateWatchdogSearchId}"
                           ),
                           new OnboardingStepStimulusModel(
                               Text: Resource.OnboardingViewAgainStep,
                               ElementIdentifier: $"#{OnboardingElementIdentifiers.OnboardingId}"
                           )
                       ])"
    />
}

<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4 text-wrap text-break">@title</h1>
    @if (Model.WatchdogScrapingResultsArgs.IsArchived)
    {
        <span class="badge text-bg-warning">
            Archived
        </span>
    }
</div>

@if (!string.IsNullOrWhiteSpace(Model.WatchdogScrapingResultsArgs.WatchdogDescription))
{
    <p class="text-muted">
        @Model.WatchdogScrapingResultsArgs.WatchdogDescription
    </p>
}

<div @Stimulus.Controller(StimulusControllers.WatchdogsScrapingResults)>
    <form asp-page-handler="CreateWatchdogSearch"
          asp-route-watchdogId="@Model.WatchdogScrapingResultsArgs.WatchdogId"
          data-watchdogs--scraping-results-target="createWatchdogSearchForm"
    >
        <!-- Prevent implicit submission of the form by hitting enter on inputs -->
        <button type="submit" disabled style="display: none"></button>

        <div class="my-3">
            <div class="input-group" id="@OnboardingElementIdentifiers.WatchdogsScrapingResultsSearchTermInputGroupId">
                <span class="input-group-text">
                    <i class="fas fa-search"></i>
                </span>
                <input asp-for="SearchTerm" 
                       class="form-control" 
                       data-watchdogs--scraping-results-target="searchTerm"
                       data-action="input->@StimulusControllers.WatchdogsScrapingResults#onSearchTermModified"
                       placeholder="@Resource.FilterResults"
                />
            </div>
            <span asp-validation-for="SearchTerm" class="text-danger"></span>
            <div class="mt-3">
                <button class="btn btn-primary text-wrap text-break"
                        data-watchdogs--scraping-results-target="createWatchdogSearch"
                        type="submit"
                        style="display:@(User.IsAuthenticated() ? "" : "none")"
                        id="@OnboardingElementIdentifiers.WatchdogsScrapingResultsCreateWatchdogSearchId"
                        >
                    @ScrapingResultsConstants.SaveSearch
                </button> 
                <button class="btn btn-primary"
                        data-watchdogs--scraping-results-target="loginToCreateWatchdogSearch"
                        type="button"
                        data-action="@StimulusControllers.WatchdogsScrapingResults#loginToNotifyAboutNewResults"
                        style="display:@(User.IsAuthenticated() ? "none" : "")"
                        id="@OnboardingElementIdentifiers.WatchdogsScrapingResultsLoginToCreateWatchdogSearchId"
                        >
                    @ScrapingResultsConstants.LoginOrRegisterToSaveSearch
                </button>
                @if (User.GetUserId() == Model.WatchdogScrapingResultsArgs.UserId || await User.IsSuperAdmin(UserRepository))
                {
                    <a href="@WatchdogUrlConstants.WatchdogDetailUrlTemplate.WithWatchdogId(Model.WatchdogScrapingResultsArgs.WatchdogId)"
                       class="btn btn-outline-primary text-decoration-none">
                        Detail
                    </a>
                }
            </div>
        </div>
    </form>

    <scraping-results-web-pages watchdog-scraping-results-args="Model.WatchdogScrapingResultsArgs" />
</div>