@page "{watchdogAlertId}"
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Features.Shared.ReinforcedTypings
@model AlertModel

@{
    var searchTermPrefix = $"{(!string.IsNullOrWhiteSpace(Model.WatchdogAlertArgs.SearchTerm) ? $"{Model.WatchdogAlertArgs.SearchTerm} - " : "")}";
    var title = $"{searchTermPrefix}{Model.WatchdogScrapingResultsArgs.WatchdogName}";
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/Watchdogs/Alerts/Alerts">@Resource.MyAlerts</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@title</li>
        </ol>
    </nav>
}

<div @Stimulus.Controller(StimulusControllers.WatchdogAlert)>
    
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="display-4">
                <span data-watchdogs--alert-target="searchTermPrefix">@searchTermPrefix</span>
                <a asp-page="/Watchdogs/Detail/Detail" asp-route-watchdogId="@Model.WatchdogAlertArgs.WatchdogId">@Model.WatchdogScrapingResultsArgs.WatchdogName</a>
            </h1>
        </div>
        <div>
            <div class="dropdown">
                <button
                    class="btn btn-sm"
                    type="button"
                    data-bs-toggle="dropdown"
                    >
                    <i class="fa-solid fa-bars"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <form asp-page-handler="DeleteWatchdogAlert"
                              asp-route-watchdogAlertId="@Model.WatchdogAlertArgs.WatchdogAlertId"
                              method="post"
                              data-watchdogs--alert-target="deleteWatchdogAlertForm"
                              >
                            <button class="dropdown-item text-danger" 
                                    type="submit"
                                    >
                                Delete watchdog alert
                            </button>
                        </form>
                         
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-6">
                <turbo-frame id="watchdog_alert_overview_@(Model.WatchdogAlertArgs.WatchdogAlertId)"
                             src="@Url.Page("Overview/Overview", new {Model.WatchdogAlertArgs.WatchdogAlertId})">
                </turbo-frame>
            </div>
        </div>

        <scraping-results-web-pages watchdog-scraping-results-args="Model.WatchdogScrapingResultsArgs"></scraping-results-web-pages>
    </div>
</div>