@using MrWatchdog.Core.Features.Scrapers.Domain
@using MrWatchdog.Core.Resources
@model PublicStatusBadge

@if (Model.ShowPrivate)
{
    <span class="badge text-bg-primary"
          style="@(Model.PublicStatus == PublicStatus.Private ? "" : "display:none")"
          title="@Resource.PrivateStatusTooltip">
        @Resource.PrivateStatus
    </span>
}
<span class="badge text-bg-warning"
      style="@(Model.PublicStatus == PublicStatus.RequestedToBeMadePublic ? "" : "display:none")"
      title="@Resource.RequestedToBeMadePublicStatusTooltip">
    @Resource.RequestedToBeMadePublicStatus
</span>
<span class="badge text-bg-success"
      style="@(Model.PublicStatus == PublicStatus.Public ? "" : "display:none")"
      title="@Resource.PublicStatusTooltip">
    @Resource.PublicStatus
</span>