@page "{watchdogId}"
@using MrWatchdog.Core.Features.Watchdogs
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Features.Shared.ReinforcedTypings
@using MrWatchdog.Web.Infrastructure.Authorizations
@model ActionsModel
@{
    Layout = null;
}
<!turbo-frame id="watchdog_detail_actions_@(Model.WatchdogDetailPublicStatusArgs.WatchdogId)">
<div @Stimulus.Controller(StimulusControllers.WatchdogsDetailActions)
     >
    <a href="@WatchdogUrlConstants.WatchdogScrapingResultsUrlTemplate.WithWatchdogId(Model.WatchdogDetailPublicStatusArgs.WatchdogId)" 
       class="btn btn-outline-primary text-decoration-none"
       data-turbo-frame="_top">
        View scraping results
    </a>
    @{
        var isRequestToMakePublicFormVisible = !User.IsSuperAdmin()
                                               && !Model.WatchdogDetailPublicStatusArgs.MakePublicRequested
        && !Model.WatchdogDetailPublicStatusArgs.Public;
    }
    <form asp-page-handler="RequestToMakePublic"
          asp-route-watchdogId="@Model.WatchdogDetailPublicStatusArgs.WatchdogId"
          method="post"
          data-watchdogs--detail-actions-target="requestToMakePublicForm"
          style="display:@(!isRequestToMakePublicFormVisible ? "none" : "inline")"
    >
        <button class="btn btn-outline-primary"
                type="submit"
        >
            Request to make public
        </button>
    </form>
    @{
        var isMakePublicFormVisible = User.IsSuperAdmin()
                                      && !Model.WatchdogDetailPublicStatusArgs.Public;
    }
    <form asp-page-handler="MakePublic"
          asp-route-watchdogId="@Model.WatchdogDetailPublicStatusArgs.WatchdogId"
          method="post"
          data-watchdogs--detail-actions-target="makePublicForm"
          style="display:@(!isMakePublicFormVisible ? "none" : "inline")"
    >
        <button class="btn btn-outline-primary"
                type="submit"
        >
            Make public
        </button>
    </form>
    @{
        var isMakePrivateFormVisible = Model.WatchdogDetailPublicStatusArgs.Public;
    }
    <form asp-page-handler="MakePrivate"
          asp-route-watchdogId="@Model.WatchdogDetailPublicStatusArgs.WatchdogId"
          method="post"
          data-watchdogs--detail-actions-target="makePrivateForm"
          style="display:@(!isMakePrivateFormVisible ? "none" : "inline")"
    >
        <button class="btn btn-outline-primary"
                type="submit"
                >
            Make private
        </button>
    </form>
</div>
</!turbo-frame>