@page
@using CoreUtils.Extensions
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Features.Watchdogs
@using MrWatchdog.Core.Resources
@model SearchesModel
@inject IStringLocalizer<Resource> Localizer
@{
    var title = Resource.MyWatchdogs;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@title</li>
        </ol>
    </nav>
}

<h1 class="display-4">@title</h1>
<p class="text-muted">
    @Resource.MyWatchdogsDescription
</p>

@foreach (var watchdogSearch in Model.WatchdogSearches)
{
    <div>
        <a asp-page="/Watchdogs/Search/Search" 
           asp-route-watchdogSearchId="@watchdogSearch.WatchdogSearchId"
           class="text-wrap text-break"
           >
            <span>@watchdogSearch.WatchdogName</span>
            <span translate="no">@(!string.IsNullOrWhiteSpace(watchdogSearch.SearchTerm) ? $" - {watchdogSearch.SearchTerm}" : "")</span>
            @if (!watchdogSearch.ReceiveNotification)
            {
                <span title="Email notification disabled" style="position: relative; display: inline-block; color: #bbb;">
                    <i class="fa-solid fa-envelope"></i>
                    <i class="fa-solid fa-slash" 
                       style="position: absolute; top: 4px; left: -2px; width: 100%; height: 100%; color: red; pointer-events: none;"></i>
                </span>
            }
        </a>
    </div>
}

@if (Model.WatchdogSearches.IsEmpty())
{
    <i class="fa-solid fa-triangle-exclamation text-warning"></i> 
    @Html.Raw(
        Localizer[
            Resource.YouHaveNoWatchdogs,
            $"<a href=\"{WatchdogUrlConstants.WatchdogsUrl}\">{Resource.ListOfWebScrapers}</a>",
            Resource.CreateWatchdog
        ]
    )
}

