@page
@using CoreUtils.Extensions
@using MrWatchdog.Core.Features.Watchdogs
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Watchdogs.ScrapingResults
@model SearchesModel

@{
    var title = Resource.MySearches;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@title</li>
        </ol>
    </nav>
}

<h1 class="display-4">@title</h1>
<p class="text-muted">
    Browse your watchdog searches which can email you notification about new watchdog search results.
</p>

@foreach (var watchdogSearch in Model.WatchdogSearches)
{
    <div>
        <a asp-page="/Watchdogs/Search/Search" 
           asp-route-watchdogSearchId="@watchdogSearch.WatchdogSearchId"
           class="text-wrap text-break"
           >
            <span>@watchdogSearch.WatchdogName</span>
            <span translate="no">@(!string.IsNullOrWhiteSpace(watchdogSearch.SearchTerm) ? $" - {watchdogSearch.SearchTerm}" : "")</span>
        </a>
    </div>
}

@if (Model.WatchdogSearches.IsEmpty())
{
    <i class="fa-solid fa-triangle-exclamation text-warning"></i> 
    @:You have no watchdog searches. To add a new watchdog search, go to the <a href="@WatchdogUrlConstants.WatchdogsUrl">list of watchdogs</a>, select one,
    @:and choose <i>@ScrapingResultsConstants.SaveSearch</i>.
}

